.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
  max-width: 100%; /* Ensure image doesn't overflow container */
  height: auto; /* Maintain aspect ratio */
}

@media screen and (max-width: 996px) {
  .features {
    padding: 1rem 0;
  }
}
